language: python
sudo: require
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install python-coveralls

# command to run tests
script:
  - python -m compileall ./
  - coverage run --omit='*/virtualenv/*,*/site-packages/*,*_test.py' -m unittest discover -s . -v -p "*_test.py"

after_success:
  - coveralls

notifications:
  email: false

deploy:
  provider: pypi
  user: d-Rickyy-b
  password:
    secure: Zq5/2MWAVDgV1KbEZTeK0zNdY/XFajY7d6RHiONsgAf/B3weeRG7tCc+9L/0MPGvDh+kpzFUEELPrZ3MHFuc6+VQVWSXojEfVuUCA8A3zDM/IYS+2Whp25ggY9NkOQNaD2kb/CTTsa5x9SjD0lyp+XphN0nRCXw77tvcwkxi/YmNOz5vBH7JmSMvKvScUgh4L4TkDsvopEIHPCah2CuW4QoDsZdR9NMEM8Ll0a2usnRu+UBgwStp4eoYsiaZyQbCb0yupVqOVHgKSbSirNSamuIOve4Yc7TjS+Y0GyAB8k7FUqKjUXL9rbggjk8hSTGCgtbGENDnRvYRzM6VO8CN8YxuCYWjG/rYbBkibvEAS8BsY5fHOdmDbRBQGD2aQrk3siBDuVyD78glQrqZB5FYpmUTXcJu5fkb5gWDW8NonT5X13OHin4c+eGZCXlRBkTBS/P2v/KMdkBQvQ8p9tkJ3181S0oP2hSXYSZbk6sdW7TijbVt6TMJ9ZD9QMPvlVBusAMmNteShW5kMIa8XVpQ92zZjZJOIwOMUWEvS2Oms67MrLOYb/ng2imgyJY9DxUnxNQn28/g5q1BYb5/31DxCW4sRIv8Qj/KZdtJiQ/6F5qAQe79NGJB5vQWAOCo6YimfJz3EQAdbjSGFrcUmwfLKH+wS63+uJ/3I322SXPZD94=
  distributions: sdist bdist_wheel
  skip_cleanup: true
  skip_existing: true
  on:
    repo: d-Rickyy-b/pastepwn
    tags: true
    branch: master
    python: "3.6"
